#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: #f7f8fc;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 600px;
  margin: 0 auto;
}

input, button {
  outline: none;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2b6cb0;
}

button:active {
  background-color: #2c5282;
}

input:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}

.line-through {
  color: #a0aec0;
}

p.text-sm {
  color: #718096;
}

.flex > button {
  margin-left: 0.5rem;
}
